@{
    ViewBag.Title = "Home";
}

@model _3WEB.Models.Model_Mail


<div class="slider-container slider-container-height-650 rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7"
         data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [650,650,650,650], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': true, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 35, 'h_offset': 0}}}">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-1" data-transition="fade,parallaxtobottom,parallaxtoleft,parallaxtotop,parallaxvertical,parallaxhorizontal,boxslide,slotslide-horizontal,boxfade,slideremoveright,slideremoveleft,curtain-2,curtain-1,slideleft,slideright,random"
                data-hideafterloop="0" data-hideslideonmobile="on" data-randomtransition="on">
                <!-- MAIN IMAGE -->
                <img src="/Content/img/slider/bg12.jpg" alt="" title="Front page" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption"
                     id="slide-1-layer-1"
                     data-x="['left','left','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-41','-41','23','23']"
                     data-width="['500','500','90%','90%']"
                     data-height="['97','97','209','209']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":300,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="color:white;font-size:44px;line-height:50px; font-weight:600">
                    Á MEDIDA DAS SUAS NECESSIDADES
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption"
                     id="slide-1-layer-2"
                     data-x="['left','left','center','center']" data-hoffset="['15','15','-1','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                     data-width="['550','500','564','564']"
                     data-height="['98','98','none','none']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":600,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on"
                     style="font-size:20px;line-height:30px;font-weight:300;color:white;">
                    Planos de hospedagem Web de fácil utilização, quer para sua página pessoal, quer para o seu site corporativo ou institucional
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption  "
                     id="slide-1-layer-3"
                     data-x="['left','left','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['133','133','164','164']"
                     data-width="553"
                     data-height="23"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":900,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on">
                    <a href="#servicos" class="btn v-btn large accent standard mb-0 mr-1">Saiba mais</a>
                    <a href="#contato" class="btn v-btn large transparent-light stroke-to-fill ">Contate-nos</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-2" data-transition="fade,parallaxtoright,parallaxtoleft,parallaxtotop,slideremovedown,slideoverdown,slotslide-vertical,boxfade,slotfade-horizontal,scaledownfromleft,scaledownfromtop,scaledownfrombottom,curtain-1,curtain-2,curtain-3,crossfade,random-static,random-premium,random"
                data-hideafterloop="0" data-hideslideonmobile="off" data-randomtransition="on">
                <!-- MAIN IMAGE -->
                <img src="/Content/img/slider/bg13.jpg" alt="" title="slide3" width="1920" height="705" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 6 -->
                <div class="tp-caption  "
                     id="slide-3-layer-1"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-29','-29','23','23']"
                     data-width="['433','433','90%','90%']"
                     data-height="['97','97','209','209']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":300,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="color:white;font-size:34px;line-height:40px; font-weight:600">
                    CONHEÇA NOSSOS SERVIÇOS
                </div>
                <!-- LAYER NR. 7 -->
                <div class="tp-caption  "
                     id="slide-3-layer-2"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','-1','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['68','68','47','47']"
                     data-width="['473','473','564','564']"
                     data-height="['121','121','none','none']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":600,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on"
                     style="font-size:18px;line-height:30px;font-weight:300; color:white;">
                    Comprometimento, responsabilidade e inovação - tudo isso se reflete na qualidade de nossos resultados.
                </div>
                <!-- LAYER NR. 8 -->
                <div class="tp-caption  "
                     id="slide-3-layer-3"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['133','133','164','164']"
                     data-width="553"
                     data-height="23"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":900,"speed":290,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on">
                    <a href="#servicos" class="btn v-btn large accent standard mb-0 mr-1">Saiba mais</a>
                    <a href="#contato" class="btn v-btn large transparent-light stroke-to-fill">Contate-nos</a>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index="rs-3" data-transition="fade" data-title="">
                <!-- MAIN IMAGE -->
                <img src="/Content/img/slider/bg1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <!-- LAYERS -->
                <!-- LAYER NR. 12 -->
                <div class="tp-caption top-label fw-6 fs-20"
                     data-x="left" data-hoffset="100"
                     data-y="center" data-voffset="-125"
                     data-start="1000"
                     data-transform_in="y:[-300%];opacity:0;s:400;">SITE NOVO DE ALTA QUALIDADE</div>
                <!-- LAYER NR. 13 -->
                <div class="tp-caption main-label"
                     data-x="left" data-hoffset="100"
                     data-y="center" data-voffset="-70"
                     data-fontsize="['75','70','34','44']"
                     data-start="1500"
                     data-whitespace="nowrap"
                     data-transform_in="y:[100%];s:400;"
                     data-transform_out="opacity:0;s:400;"
                     style="z-index: 5"
                     data-mask_in="x:0px;y:0px;">E BAIXO CUSTO</div>
                <!-- LAYER NR. 14 -->
                <div class="tp-caption text-white"
                     data-x="left" data-hoffset="100"
                     data-width="['none','none','none','400']"
                     data-y="center" data-voffset="15"
                     data-start="2000"
                     style="font-size:17px;font-weight: 300;line-height: 24px; color:#e0e0e0!important;font-family: 'Museo500Regular', Arial, Helvetica, Tahoma, sans-serif;"
                     data-transform_in="y:[100%];opacity:0;s:400;">
                    Mostre para o mundo o que você faz!<br>
                    Fique visivel para milhões de pessoas com um site elegante.
                </div>
                <!-- LAYER NR. 15 -->
                <div class="tp-caption"
                     href="#"
                     data-x="left" data-hoffset="100"
                     data-y="center" data-voffset="110"
                     data-start="2500"
                     data-whitespace="nowrap"
                     data-transform_in="y:[100%];s:400;"
                     data-transform_out="opacity:0;s:400;"
                     data-mask_in="x:0px;y:0px;">
                    <a href="#planos" class="btn v-btn standard white large">Conheça</a>
                </div>
                <!-- LAYER NR. 16 -->
                <div class="tp-caption"
                     href="#"
                     data-x="left" data-hoffset="300"
                     data-y="center" data-voffset="110"
                     data-start="2800"
                     data-whitespace="nowrap"
                     data-transform_in="y:[100%];s:400;"
                     data-transform_out="opacity:0;s:400;"
                     data-mask_in="x:0px;y:0px;">
                    <a href="#contato" class="btn v-btn large transparent-light stroke-to-fill">Contato</a>
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-4" data-transition="fade,parallaxtoright,parallaxtoleft,parallaxtotop,slideremovedown,slideoverdown,slotslide-vertical,boxfade,slotfade-horizontal,scaledownfromleft,scaledownfromtop,scaledownfrombottom,curtain-1,curtain-2,curtain-3,crossfade,random-static,random-premium,random"
                data-hideafterloop="0" data-hideslideonmobile="off" data-randomtransition="on">
                <!-- MAIN IMAGE -->
                <img src="/Content/img/slider/bg14.jpg" alt="" title="slide4" width="1920" height="705" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 9 -->
                <div class="tp-caption  "
                     id="slide-4-layer-1"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-29','-29','23','23']"
                     data-width="['433','433','90%','90%']"
                     data-height="['97','97','209','209']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":300,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="color:white;font-size:34px;line-height:40px; font-weight:600">
                    E-MAIL PERSONALIZADO
                </div>
                <!-- LAYER NR. 10 -->
                <div class="tp-caption  "
                     id="slide-4-layer-2"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','-1','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['68','68','47','47']"
                     data-width="['473','473','564','564']"
                     data-height="['121','121','none','none']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":600,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on"
                     style="font-size:18px;line-height:30px;font-weight:300; color:white;">
                    Nosso serviço de hospedagem permite que você crie vários endereços de email com todas as funcionalidades, conforme sua necessidade
                </div>
                <!-- LAYER NR. 11 -->
                <div class="tp-caption  "
                     id="slide-4-layer-3"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['133','133','164','164']"
                     data-width="553"
                     data-height="23"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":900,"speed":290,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on">
                    <a href="#servicos" class="btn v-btn large accent standard mb-0 mr-1">Saiba mais</a>
                    <a href="#contato" class="btn v-btn large transparent-light stroke-to-fill">Contate-nos</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="v-page-wrap no-bottom-spacing no-top-spacing">

    <section id="quem-somos" class="">
        <div class="v-bg-stylish padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="v-smash-text-large mb-4 mt-5">
                            Crie seu site com <br />
                            estilo e facilidade.
                        </h1>

                        <p class="pull-bottom v-lead">
                            Somos especialistas em desenvolvimento de sistemas web,
                            criação de sites e analise de redes sociais.
                            Do blog ao e-commerce, com layouts exclusivos, dinâmicos,
                            rápidos e práticos.
                            Juntamos as habilidades necessárias para que sua empresa decole na web,
                            com uma equipe focada no assunto e atualizada em relação a redes sociais e web.
                        </p>

                        <a href="Home/Servicos"><button type="button" class="btn v-btn v-btn-default">Saiba mais <i class="fa fa-angle-double-right ml-2 mr-0"></i></button></a>
                    </div>
                    <div class="col-md-6">
                        <img src="/Content/img/mix/pen.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="servicos" data-aos="fade-up" data-aos-delay="200" data-aos-offset="140">
        <div class="v-bg-stylish v-bg-stylish-v6">
            <div class="container pt-4">


                <div class="row">
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="200" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-laptop v-icon"></i>
                            </div>
                            <div class="feature-box-text clearfix pt-7">
                                <h3>Sua empresa na Web</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Sua empresa, seu negócio na web, nós temos a solução <strong>completa!</strong>
                                    </p>

                                    <a href="Home/Servicos/#criando-site" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="400" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-envelope-o v-icon"></i>
                            </div>
                            <div class="feature-box-text pt-7">
                                <h3>Serviços de E-mail</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Tenha e-mail com o nome da sua empresa!
                                    </p>
                                    <a href="Home/Servicos/#email" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="600" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-pencil v-icon"></i>
                            </div>
                            <div class="feature-box-text pt-7">
                                <h3>Sistema sob demanda</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Desenvolvemos sistemas inteiramente personalizado de acordo com a <i>sua necessidade</i>.
                                    </p>
                                    <a href="Home/Servicos/#sistema" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="800" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-shopping-cart v-icon"></i>
                            </div>
                            <div class="feature-box-text pt-7">
                                <h3>Criação de Lojas Virtuais</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Quer migrar para o mercado online? Nós temos a <b>solução!</b>
                                    </p>
                                    <a href="Home/Servicos/#ecommerce" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="v-spacer col-sm-12 v-height-standard"></div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="200" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-connectdevelop v-icon"></i>
                            </div>
                            <div class="feature-box-text pt-7">
                                <h3>Desenvolvimento de Aplicativo</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Aplicativos para iOS e Android de acordo com <i>sua necessidade</i>.
                                    </p>
                                    <a href="#" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="400" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-cutlery v-icon"></i>
                            </div>
                            <div class="feature-box-text clearfix pt-7">
                                <h3>Smart Chefe</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Sistema online para o ramo de restaurantes.
                                    </p>

                                    <a href="Home/Servicos/#smart" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="600" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-facebook-official v-icon"></i>
                            </div>
                            <div class="feature-box-text pt-7">
                                <h3>Mídia Social</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Planejamento de campanhas digitais para sua empresa a decolar nas redes sociais!
                                    </p>
                                    <a href="Home/Servicos/#midia" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="feature-box feature-box-secundary-one" data-aos="fade-up" data-aos-delay="800" data-aos-offset="140">
                            <div class="feature-box-icon small p-25">
                                <i class="fa fa-pie-chart v-icon"></i>
                            </div>
                            <div class="feature-box-text pt-7">
                                <h3>Controle</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        <i>Informação é poder!</i> Saiba tudo sobre seu site, acessos, perfis e muito mais!
                                    </p>
                                    <a href="Home/Servicos" class="read-more">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row center">
                    <div class="col-sm-12">
                        <a class="btn v-btn standard accent sf-icon-reveal mt-8" href="Home/Servicos" target="_self">
                            <i class="icon-hand-like-2"></i><span class="text">VEJA TODOS NOSSOS SERVIÇOS</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="v-bg-stylish padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="v-smash-text-large mb-4">
                            Criamos o seu site com estilo, simplicidade, responsivo<br />
                            e inovação.
                        </h1>

                        <p class="pull-bottom v-lead">
                            Nossa equipe de desenvolvedores trabalhará para entregar o seu site com a sua marca e logotipo.
                            Acreditamos que seu tempo é muito valioso, por isso nossos sites são desenvolvidos com o sistema
                            de gestão de conteúdo simplificado e intuitivo, sem levar muito tempo para isso.
                            <br>
                            O layout é responsivo e seu site fica bem em todos os dispositivos (computadores, tablets e smartphones).
                            Além disso, você monitora os dados de acesso e comportamento do seu site de forma bem simples, com integração
                            do Google Analytics diretamente ao sistema!
                            <br>
                            Sua marca na web, seja encontrado facilmente em todas as ferramentas de busca.
                        </p>

                        <a href="Home/Servicos"><button type="button" class="btn v-btn v-btn-default">Saiba mais <i class="fa fa-align-right"></i></button></a>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-bars mt-9">
                            <div class="progress-label">
                                <span>Personalizado</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                                    <span class="progress-bar-tooltip">100%</span>
                                </div>
                            </div>
                            <div class="progress-label">
                                <span>Elegante</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%" data-appear-animation-delay="300">
                                    <span class="progress-bar-tooltip">100%</span>
                                </div>
                            </div>

                            <div class="progress-label">
                                <span>Otimizado para Mobile</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%" data-appear-animation-delay="500">
                                    <span class="progress-bar-tooltip">100%</span>
                                </div>
                            </div>
                            <div class="progress-label">
                                <span>Velocidade</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-appear-progress-animation="95%" data-appear-animation-delay="700">
                                    <span class="progress-bar-tooltip">95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="clientes" class="">
        <div class="v-bg-stylish v-bg-stylish-v6">
            <div class="container">
                <div class="row center-text">
                    <div class="col-md-10 offset-md-1">
                        <p class="v-smash-text-large white-color">O que os nossos clientes dizem sobre a 3WEB?</p>
                        <p class="v-lead text-white o-7 mb-7">
                            Conheça nosso universo. Seja também nosso Cliente!
                        </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">

                        <div class="testimonial-five">

                            <div class="carousel-wrap">

                                <div class="owl-carousel" data-plugin-options='{"items": 3, "singleItem": false, "autoPlay": true}'>

                                    <div class="item">
                                        <div class="testimonial-five testimonial-light">

                                            <blockquote class="o-9">
                                                <h4 class="fs-18 fw-6">Muito mais controle e agilidade</h4>
                                                <p class="lh-26">
                                                    Contratei a 3WEB para desenvolver um sistema para o controle das minhas visitas comerciais e agenda, além de posts no FaceBook e Instagram.
                                                    Meus clientes mais satisfeitos com as publicações e eu no controle da minha empresa.
                                                </p>
                                            </blockquote>

                                            <div class="testimonial-author pl-15 clearfix">
                                                <div class="testimonial-author-thumbnail">
                                                    <img class="img-responsive img-circle" src="/Content/img/team/t1.png" alt="José Ogerio">
                                                </div>
                                                <p class="fs-16 text-white">
                                                    <strong class="text-white">José Ogerio</strong><span class="text-white o-7 fs-13">Grupo JOS</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="item">
                                            <div class="testimonial-five testimonial-light">

                                                <blockquote class="o-9">
                                                    <h4 class="fs-18 fw-6">Super support!</h4>
                                                    <p class="lh-26">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                                    </p>
                                                </blockquote>

                                                <div class="testimonial-author pl-15 clearfix">
                                                    <div class="testimonial-author-thumbnail">
                                                        <img class="img-responsive img-circle" src="/Content/img/team/t2.png" alt="JOHN SMITH">
                                                    </div>
                                                    <p class="fs-16 text-white">
                                                        <strong class="text-white">Michael James</strong><span class="text-white o-7 fs-13"> Manager at Youtube</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="testimonial-five testimonial-light">

                                                <blockquote class="o-9">
                                                    <h4 class="fs-18 fw-6">Awesome Design.</h4>
                                                    <p class="lh-26">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                                    </p>
                                                </blockquote>

                                                <div class="testimonial-author pl-15 clearfix">
                                                    <div class="testimonial-author-thumbnail">
                                                        <img class="img-responsive img-circle" src="/Content/img/team/t3.png" alt="JOHN SMITH">
                                                    </div>
                                                    <p class="fs-16 text-white">
                                                        <strong class="text-white">Michael Feldstein</strong><span class="text-white o-7 fs-13">CEO &amp; Founder</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="testimonial-five">

                                                <blockquote class="o-9">
                                                    <h4 class="fs-18 fw-6">Awesome Design.</h4>
                                                    <p class="lh-26">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                                    </p>
                                                </blockquote>

                                                <div class="testimonial-author pl-15 clearfix">
                                                    <div class="testimonial-author-thumbnail">
                                                        <img class="img-responsive img-circle" src="/Content/img/team/t4.png" alt="JOHN SMITH">
                                                    </div>
                                                    <p class="fs-16 text-white">
                                                        <strong class="text-white">JOHN SMITH</strong><span class="text-white o-7 fs-13">CEO &amp; Founder</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="customNavigation">
                                    <a class="prev"><i class="fa fa-angle-left"></i></a>
                                    <a class="next"><i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Client Carousel v2-->
        <div class="v-clients-widget-v2 v-bg-stylish v-bg-stylish-v4 no-shadow">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="v-clients-wrap-v2 carousel-wrap">
                            <div class="owl-carousel" data-plugin-options='{"items": 7, "singleItem": false, "autoPlay": true}'>
                                <div class="item">
                                    <figure>
                                        <a href="http://grupojos.com.br/" target="_blank">
                                            <img src="/Content/img/client/grupojos.png" />
                                        </a>
                                    </figure>
                                </div>
                                @*<div class="item">
                                        <figure>
                                            <a href="https://vimeo.com/pro/" target="_blank">
                                                <img src="/Content/img/client/02.png" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <a href="http://jquery.com/" target="_blank">
                                                <img src="/Content/img/client/03.png" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <a href="http://wordpress.org/" target="_blank">
                                                <img src="/Content/img/client/04.png" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <a href="http://www.envato.com/" target="_blank">
                                                <img src="/Content/img/client/05.png" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <a href="http://jquery.com/" target="_blank">
                                                <img src="/Content/img/client/03.png" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="item">
                                        <figure>
                                            <a href="http://jquery.com/" target="_blank">
                                                <img src="/Content/img/client/01.png" />
                                            </a>
                                        </figure>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Client Carousel v2-->
        <div class="v-bg-stylish">
            <div class="container">
                <div class="row center v-counter-wrap">
                    <div class="col-sm-10 offset-sm-1">

                        <div class="row">
                            <div class="col-sm-3">
                                <i class="icon-user-heart-1 v-icon icn-holder"></i>
                                <div class="v-counter">
                                    <div class="count-number" data-from="0" data-to="12" data-speed="1500" data-refresh-interval="25"></div>
                                    <div class="count-divider"><span></span></div>
                                    <h6 class="v-counter-text">Clientes Satisfeitos</h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <i class="icon-folder-checked v-icon icn-holder"></i>
                                <div class="v-counter">
                                    <div class="count-number" data-from="0" data-to="14" data-speed="2000" data-refresh-interval="25"></div>
                                    <div class="count-divider"><span></span></div>
                                    <h6 class="v-counter-text">Sistemas</h6>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <i class="icon-trophy v-icon icn-holder"></i>
                                <div class="v-counter">
                                    <div class="count-number" data-from="0" data-to="15" data-speed="2500" data-refresh-interval="25"></div>
                                    <div class="count-divider"><span></span></div>
                                    <h6 class="v-counter-text">Projetos Fnalizados</h6>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <i class="icon-coffee-cup v-icon icn-holder"></i>
                                <div class="v-counter">
                                    <div class="count-number" data-from="0" data-to="325" data-speed="3000" data-refresh-interval="25"></div>
                                    <div class="count-divider"><span></span></div>
                                    <h6 class="v-counter-text">Xícaras de Café</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="equipe" class="">
        <div class="v-bg-stylish padding-60">

            <div class="container">
                <div class="row">
                    <div class="v-heading-v2">
                        <h3>Equipe</h3>
                    </div>
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-4">

                                <div class="team-member img-circle style-1 pl-2 pr-2">
                                    <div class="member-photo">
                                        <img class="img-responsive" src="/Content/img/team/t3.png">
                                        <div class="member-social">
                                            <div class="member-social-inner">
                                                <ul class="list-inline">
                                                    <li><a href="https://www.facebook.com/alex.mi.silva" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/alex-silva-65485b3b/" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <div class="member-position">
                                            <span>Web Desenvolvedor</span>
                                        </div>
                                        <div class="member-name">
                                            <h3 class="name">Alex Silva</h3>
                                        </div>
                                        @*<div class="member-desc">
                                                <p>
                                                    Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                                </p>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="team-member img-circle style-1 pl-2 pr-2">
                                    <div class="member-photo">
                                        <img class="img-responsive" src="/Content/img/team/t2.png">
                                        <div class="member-social">
                                            <div class="member-social-inner">
                                                <ul class="list-inline">
                                                    <li><a href="https://www.facebook.com/gabriel.bernardo" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/gabriel-bernardo-6a128465/" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <div class="member-position">
                                            <span>Web Designer</span>
                                        </div>
                                        <div class="member-name">
                                            <h3 class="name">Gabriel Bernardo</h3>
                                        </div>

                                        @*<div class="member-desc">
                                                <p>
                                                    Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                                </p>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="team-member img-circle style-1 pl-2 pr-2">
                                    <div class="member-photo">
                                        <img class="img-responsive" src="/Content/img/team/t5.png">
                                        <div class="member-social">
                                            <div class="member-social-inner">
                                                <ul class="list-inline">
                                                    <li><a href="https://www.facebook.com/daraujofs" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://www.linkedin.com/in/daraujofs/" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="member-info">
                                        <div class="member-position">
                                            <span>Web Mobile</span>
                                        </div>
                                        <div class="member-name">
                                            <h3 class="name">Diogo Araujo</h3>
                                        </div>

                                        @*<div class="member-desc">
                                                <p>
                                                    Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                                </p>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="planos" class="">
        <div class="v-bg-stylish padding-60">
            <div class="container">
                <div class="pricing-table pricing-table-style-1 mb-5">
                    <div class="v-heading-v2">
                        <h3>Planos</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 p-0 plan">
                            <div class="plan-title">
                                <h3 class="text-color-secondary">Basic</h3>
                            </div>
                            <div class="plan-price">
                                <strong><em>$</em>19</strong>
                                <p>1 month</p>
                            </div>
                            <div class="plan-detail">
                                <ul>
                                    <li>Layout Exclusivo</li>
                                    <li>Domínio</li>
                                </ul>
                                <a href="#" class="btn btn-outline-primary btn-rounded pr-5 pl-5">Contratar</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 p-0 plan">
                            <div class="plan-title">
                                <h3 class="text-color-secondary">Plus</h3>
                            </div>
                            <div class="plan-price">
                                <strong><em>$</em>29</strong>
                                <p>1 month</p>
                            </div>
                            <div class="plan-detail">
                                <ul>
                                    <li>Layout Exclusivo</li>
                                    <li>Domínio</li>
                                    <li>E-mail Personalizado</li>
                                </ul>
                                <a href="#" class="btn btn-outline-primary btn-rounded pr-5 pl-5">Contratar</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 p-0 plan plan-most-popular border-color-primary">
                            <div class="plan-title bg-primary">
                                <h3>Advanced</h3>
                                <em>Most Popular</em>
                            </div>
                            <div class="plan-price">
                                <strong class="text-primary"><em>$</em>39</strong>
                                <p>1 month</p>
                            </div>
                            <div class="plan-detail">
                                <ul>
                                    <li>Layout Exclusivo</li>
                                    <li>Domínio</li>
                                    <li>E-mail Personalizado</li>
                                    <li>Imagens </li>
                                    <li>Postagens em Redes Sociais</li>
                                    <li>Criação de Textos</li>
                                </ul>
                                <a href="#" class="btn btn-rounded btn-primary pr-5 pl-5">Contratar</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 p-0 plan">
                            <div class="plan-title">
                                <h3 class="text-color-secondary">Enterprise</h3>
                            </div>
                            <div class="plan-price">
                                <strong><em>$</em>499</strong>
                                <p>1 year</p>
                            </div>
                            <div class="plan-detail">
                                <ul>
                                    <li>Layout Exclusivo</li>
                                    <li>Domínio</li>
                                    <li>E-mail Personalizado</li>
                                    <li>Imagens </li>
                                    <li>Postagens em Redes Sociais</li>
                                    <li>E-Commerce</li>
                                </ul>
                                <a href="#" class="btn btn-outline-primary btn-rounded pr-5 pl-5">Contratar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="v-spacer col-sm-12 v-height-small"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-9">

                        <div class="v-heading-v2">
                            <h3>Todos os planos incluem</h3>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="v-list">
                                    <li><i class="fa fa-check-circle"></i><span>Suporte via E-mail ou WhatsApp</span></li>
                                    <li><i class="fa fa-check-circle"></i><span>Visita para levantamento de requisitos</span></li>
                                    <li><i class="fa fa-check-circle"></i><span>Acompanhamento do site</span></li>
                                    <li><i class="fa fa-check-circle"></i><span>Manutenções preventivas e corretivas semanais para melhoria do site/sistema</span></li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <ul class="v-list">
                                    <li><i class="fa fa-check-circle"></i><span>O Layout é moderno e responsivo, o que permite uma excelente visualização no computador e em todos os dispositivos móveis</span></li>
                                    <li><i class="fa fa-check-circle"></i><span>Sua empresa aberta 24h por dia no ambiente virtual</span></li>
                                    <li><i class="fa fa-check-circle"></i><span>Backup diário</span></li>
                                    <li><i class="fa fa-check-circle"></i><span>Relatórios Online</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="v-heading-v2">
                            <h3>Não encontrou sua necessidade?</h3>
                        </div>

                        <blockquote>
                            <p>
                                Além dos serviços listados contamos também com a criação de sistemas de acordo com a sua necessidade, totalemnte online. Criação de Aplicativos Mobile (Android e iOS), Marketing Digital, Criação de Logo e Identidade Visual.
                            </p>
                            <a href="Home/Servicos" class="read-more">Saiba mais</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contato" class="">

        <div class="v-bg-stylish padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="v-comment-form">

                            <div class="v-heading-v2">
                                <h3>Contato</h3>
                            </div>

                            <p class="pull-bottom-small">
                                Quer solicitar um APP, um sistema web, tirar alguma dúvida ou receber uma consultoria?
                                Preencha o formulário abaixo e nossa equipe entrará em contato com você em breve.
                            </p>

                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Seu nome <span class="required">*</span></label>
                                            <input type="text" value="" maxlength="100" class="form-control" name="Nome" id="Nome">
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Seu e-mail <span class="required">*</span></label>
                                            <input type="email" value="" maxlength="100" class="form-control" name="Para" id="Para">
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Empresa</label>
                                            <input type="text" value="" maxlength="100" class="form-control" name="Assunto" id="Assunto">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Mensagem <span class="required">*</span></label>
                                            <textarea maxlength="5000" rows="10" class="form-control" name="Mensagem" id="Mensagem"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button name="submit" type="submit" id="Button1" class="btn v-btn v-btn-default v-small-button"><i class="fa fa-magic"></i> Enviar</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="v-heading-v2">
                            <h3>Endereço</h3>
                        </div>

                        <p>
                            3WEB Soluções<br />
                            Rua Quinze de Novembro, 17
                        </p>
                        <div class="v-heading-v2">
                            <h3>Fone & E-mail</h3>
                        </div>
                        <p>
                            E-mail: <a href="#" target="_blank">contato@3web.com.br</a><br />
                            Phone: (042) 9 9941-6541
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>


</div>