@{
    ViewBag.Title = "Home Page";
}
<div class="slider-container slider-container-height-650 rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7"
         data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [650,650,650,650], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': true, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 35, 'h_offset': 0}}}">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-1" data-transition="fade,parallaxtobottom,parallaxtoleft,parallaxtotop,parallaxvertical,parallaxhorizontal,boxslide,slotslide-horizontal,boxfade,slideremoveright,slideremoveleft,curtain-2,curtain-1,slideleft,slideright,random"
                data-hideafterloop="0" data-hideslideonmobile="on" data-randomtransition="on">
                <!-- MAIN IMAGE -->
                <img src="Content/img/slider/s2.jpg" alt="" title="Front page" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption"
                     id="slide-1-layer-1"
                     data-x="['left','left','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-41','-41','23','23']"
                     data-width="['500','500','90%','90%']"
                     data-height="['97','97','209','209']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":300,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="color:white;font-size:44px;line-height:50px; font-weight:600">
                    DISCOVER THE WORLD OF BUSINESS
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption"
                     id="slide-1-layer-2"
                     data-x="['left','left','center','center']" data-hoffset="['15','15','-1','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                     data-width="['550','500','564','564']"
                     data-height="['98','98','none','none']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":600,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on"
                     style="font-size:20px;line-height:30px;font-weight:300;color:white;">
                    Experience, accountability and innovation – all of which is reflected in the quality of our results.
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption  "
                     id="slide-1-layer-3"
                     data-x="['left','left','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['133','133','164','164']"
                     data-width="553"
                     data-height="23"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":900,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on">
                    <a href="/about-us/" class="btn v-btn large accent standard mb-0 mr-1">Read More</a>
                    <a href="/contacts/" class="btn v-btn large transparent-light stroke-to-fill ">Contact Us</a>
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-2" data-transition="fade,parallaxtoright,parallaxtoleft,parallaxtotop,slideremovedown,slideoverdown,slotslide-vertical,boxfade,slotfade-horizontal,scaledownfromleft,scaledownfromtop,scaledownfrombottom,curtain-1,curtain-2,curtain-3,crossfade,random-static,random-premium,random"
                data-hideafterloop="0" data-hideslideonmobile="off" data-randomtransition="on">
                <!-- MAIN IMAGE -->
                <img src="Content/img/slider/s1.jpg" alt="" title="slide3" width="1920" height="705" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYER NR. 6 -->
                <div class="tp-caption  "
                     id="slide-3-layer-1"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['-29','-29','23','23']"
                     data-width="['433','433','90%','90%']"
                     data-height="['97','97','209','209']"
                     data-whitespace="normal"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":300,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="color:white;font-size:34px;line-height:40px; font-weight:600">
                    MEET OUR BRAND NEW SOLUTION
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption  "
                     id="slide-3-layer-2"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','-1','-1']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['68','68','47','47']"
                     data-width="['473','473','564','564']"
                     data-height="['121','121','none','none']"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-responsive="off"
                     data-frames='[{"delay":600,"speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on"
                     style="font-size:18px;line-height:30px;font-weight:300; color:white;">
                    Company  provide outstanding service through teamwork and innovation of which is reflected in the quality of our results.
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption  "
                     id="slide-3-layer-3"
                     data-x="['right','right','center','center']" data-hoffset="['15','15','0','0']"
                     data-y="['middle','middle','middle','middle']" data-voffset="['133','133','164','164']"
                     data-width="553"
                     data-height="23"
                     data-whitespace="normal"
                     data-visibility="['on','on','on','off']"
                     data-type="text"
                     data-responsive_offset="off"
                     data-responsive="off"
                     data-frames='[{"delay":900,"speed":290,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['right','right','center','center']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     data-captionhidden="on">
                    <a href="/about-us/" class="btn v-btn large accent standard mb-0 mr-1">Read More</a>
                    <a href="/contacts/" class="btn v-btn large transparent-light stroke-to-fill">Contact Us</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="v-page-wrap no-bottom-spacing no-top-spacing">

    <div class="v-bg-stylish padding-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="v-smash-text-large mb-4 mt-5">
                        Build your own website with <br />
                        style and ease.
                    </h1>

                    <p class="pull-bottom v-lead">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                        iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at
                        vero suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>

                    <button type="button" class="btn v-btn v-btn-default">Read More <i class="fa fa-angle-double-right ml-2 mr-0"></i></button>
                </div>
                <div class="col-md-6">
                    <img src="Content/img/mix/pen.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="v-bg-stylish v-bg-stylish-v6">
        <div class="container pt-4">

            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-box left-icon-v2 v-animation v-animate" data-animation="fade-from-bottom" data-delay="0">
                        <i class="icon-heart-plus v-icon icn-holder medium"></i>
                        <div class="feature-box-text">
                            <h3 class="text-white">Customer Support</h3>
                            <div class="feature-box-text-inner o-6 text-white">
                                <p>
                                    Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio. Phasellus dolor enim, faucibus egestas dolor scelerisque hendrerit faucibus,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-box left-icon-v2 v-animation v-animate" data-animation="fade-from-bottom" data-delay="200">
                        <i class="icon-check-list v-icon icn-holder medium"></i>
                        <div class="feature-box-text">
                            <h3 class="text-white">Awsome Mega Menu</h3>
                            <div class="feature-box-text-inner o-6 text-white">
                                <p>
                                    Lorem ipsum dolor sit amet constetur metus elit. Lorem ipsum dolor adipiscing sitelit aptent ametosan taciti sociosqu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-box left-icon-v2 v-animation v-animate" data-animation="fade-from-bottom" data-delay="400">
                        <i class="icon-layers v-icon icn-holder medium"></i>
                        <div class="feature-box-text">
                            <h3 class="text-white">Premium Sliders</h3>
                            <div class="feature-box-text-inner o-6 text-white">
                                <p>
                                    Lorem ipsum dolor sit amet constetur metus elit. Lorem ipsum dolor adipiscing sitelit aptent ametosan taciti sociosqu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="v-spacer col-sm-12 v-height-standard"></div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-box left-icon-v2 v-animation v-animate" data-animation="fade-from-bottom" data-delay="600">
                        <i class="icon-trophy v-icon icn-holder medium"></i>
                        <div class="feature-box-text">
                            <h3 class="text-white">Advanced Typography</h3>
                            <div class="feature-box-text-inner o-6 text-white">
                                <p>
                                    Lorem ipsum dolor sit amet constetur metus elit. Lorem ipsum dolor adipiscing sitelit aptent ametosan taciti sociosqu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature-box left-icon-v2 v-animation v-animate" data-animation="fade-from-bottom" data-delay="800">
                        <i class="icon-arrange-4-3 v-icon icn-holder medium"></i>
                        <div class="feature-box-text">
                            <h3 class="text-white">Boxed or Wide Layout</h3>
                            <div class="feature-box-text-inner o-6 text-white">
                                <p>
                                    Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio. Phasellus dolor enim, faucibus egestas dolor scelerisque hendrerit faucibus,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature-box left-icon-v2 v-animation v-animate" data-animation="fade-from-bottom" data-delay="1000">
                        <i class="icon-brush-2 v-icon icn-holder medium"></i>
                        <div class="feature-box-text">
                            <h3 class="text-white">Custom Backgrounds</h3>
                            <div class="feature-box-text-inner o-6 text-white">
                                <p>
                                    Lorem ipsum dolor sit amet constetur metus elit. Lorem ipsum dolor adipiscing sitelit aptent ametosan taciti sociosqu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center">
                <div class="col-sm-12">
                    <a class="btn v-btn standard accent sf-icon-reveal mt-8" href="#" target="_self">
                        <i class="icon-hand-like-2"></i><span class="text">LET'S SEE OUR OTHER FEATURES</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <div class="v-parallax" style="background-image: url(Content/img/mix/desktop-6.jpg);">
        <div class="container py-5">
            <div class="row center v-content-wrapper">

                <div class="col-sm-12">
                    <p class="v-smash-text-large white-color pb-3">Simple & Creative</p>

                    <p class="v-smash-text-large-3x white-color pb-1">PARALLAX BACKGROUNDS</p>
                    <div class="horizontal-break"></div>

                    <a class="btn v-btn standard transparent-light standard " href="#" target="_self"><span class="text"><i class="fa fa-fire"></i> Purchase Now</span></a>

                </div>
            </div>
        </div>
    </div>

    <div class="v-bg-stylish">
        <div class="container">
            <div class="row center v-counter-wrap">
                <div class="col-sm-10 offset-sm-1">

                    <div class="row">
                        <div class="col-sm-3">
                            <i class="icon-user-heart-1 v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="5000" data-speed="1500" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">HAPPY CLIENTS</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <i class="icon-folder-checked v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="1250" data-speed="2500" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">HIGH SCORE</h6>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <i class="icon-trophy v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="2650" data-speed="2000" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">Fineshed Projects</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <i class="icon-star-1 v-icon icn-holder"></i>
                            <div class="v-counter">
                                <div class="count-number" data-from="0" data-to="1250" data-speed="2500" data-refresh-interval="25"></div>
                                <div class="count-divider"><span></span></div>
                                <h6 class="v-counter-text">HIGH SCORE</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="v-bg-stylish v-bg-stylish-v6">
        <div class="container">
            <div class="row center-text">
                <div class="col-md-10 offset-md-1">
                    <p class="v-smash-text-large white-color">What Customers Says About Us</p>
                    <p class="v-lead text-white o-7 mb-7">
                        Join The Ultimate And Awesome Experience
                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">

                    <div class="testimonial-five">

                        <div class="carousel-wrap">

                            <div class="owl-carousel" data-plugin-options='{"items": 3, "singleItem": false, "autoPlay": true}'>

                                <div class="item">
                                    <div class="testimonial-five testimonial-light">

                                        <blockquote class="o-9">
                                            <h4 class="fs-18 fw-6">Super support!</h4>
                                            <p class="lh-26">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                            </p>
                                        </blockquote>

                                        <div class="testimonial-author pl-15 clearfix">
                                            <div class="testimonial-author-thumbnail">
                                                <img class="img-responsive img-circle" src="Content/img/team/t1.png" alt="JOHN SMITH">
                                            </div>
                                            <p class="fs-16 text-white">
                                                <strong class="text-white">William Richardson</strong><span class="text-white o-7 fs-13">Web Developer</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial-five testimonial-light">

                                        <blockquote class="o-9">
                                            <h4 class="fs-18 fw-6">Super support!</h4>
                                            <p class="lh-26">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                            </p>
                                        </blockquote>

                                        <div class="testimonial-author pl-15 clearfix">
                                            <div class="testimonial-author-thumbnail">
                                                <img class="img-responsive img-circle" src="Content/img/team/t2.png" alt="JOHN SMITH">
                                            </div>
                                            <p class="fs-16 text-white">
                                                <strong class="text-white">Michael James</strong><span class="text-white o-7 fs-13"> Manager at Youtube</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial-five testimonial-light">

                                        <blockquote class="o-9">
                                            <h4 class="fs-18 fw-6">Awesome Design.</h4>
                                            <p class="lh-26">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                            </p>
                                        </blockquote>

                                        <div class="testimonial-author pl-15 clearfix">
                                            <div class="testimonial-author-thumbnail">
                                                <img class="img-responsive img-circle" src="Content/img/team/t3.png" alt="JOHN SMITH">
                                            </div>
                                            <p class="fs-16 text-white">
                                                <strong class="text-white">Michael Feldstein</strong><span class="text-white o-7 fs-13">CEO &amp; Founder</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonial-five">

                                        <blockquote class="o-9">
                                            <h4 class="fs-18 fw-6">Awesome Design.</h4>
                                            <p class="lh-26">
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad elitad Cras non placerat mi.
                                            </p>
                                        </blockquote>

                                        <div class="testimonial-author pl-15 clearfix">
                                            <div class="testimonial-author-thumbnail">
                                                <img class="img-responsive img-circle" src="Content/img/team/t4.png" alt="JOHN SMITH">
                                            </div>
                                            <p class="fs-16 text-white">
                                                <strong class="text-white">JOHN SMITH</strong><span class="text-white o-7 fs-13">CEO &amp; Founder</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="customNavigation">
                                <a class="prev"><i class="fa fa-angle-left"></i></a>
                                <a class="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Client Carousel v2-->
    <div class="v-clients-widget-v2 v-bg-stylish v-bg-stylish-v4 no-shadow">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="v-clients-wrap-v2 carousel-wrap">
                        <div class="owl-carousel" data-plugin-options='{"items": 7, "singleItem": false, "autoPlay": true}'>
                            <div class="item">
                                <figure>
                                    <a href="http://dribbble.com/" target="_blank">
                                        <img src="Content/img/client/01.png" />
                                    </a>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href="https://vimeo.com/pro/" target="_blank">
                                        <img src="Content/img/client/02.png" />
                                    </a>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href="http://jquery.com/" target="_blank">
                                        <img src="Content/img/client/03.png" />
                                    </a>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href="http://wordpress.org/" target="_blank">
                                        <img src="Content/img/client/04.png" />
                                    </a>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href="http://www.envato.com/" target="_blank">
                                        <img src="Content/img/client/05.png" />
                                    </a>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href="http://jquery.com/" target="_blank">
                                        <img src="Content/img/client/03.png" />
                                    </a>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href="http://jquery.com/" target="_blank">
                                        <img src="Content/img/client/01.png" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Client Carousel v2-->

    <div class="v-bg-stylish padding-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="v-smash-text-large mb-4">
                        Build your own website with  <br />
                        style and ease.
                    </h1>

                    <p class="pull-bottom v-lead">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                        iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at
                        vero suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>

                    <button type="button" class="btn v-btn v-btn-default">Read More <i class="fa fa-align-right"></i></button>
                </div>
                <div class="col-md-6">
                    <div class="progress-bars mt-9">
                        <div class="progress-label">
                            <span>HTML/CSS</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                                <span class="progress-bar-tooltip">100%</span>
                            </div>
                        </div>
                        <div class="progress-label">
                            <span>Design</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
                                <span class="progress-bar-tooltip">85%</span>
                            </div>
                        </div>

                        <div class="progress-label">
                            <span>Photoshop</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="500">
                                <span class="progress-bar-tooltip">75%</span>
                            </div>
                        </div>
                        <div class="progress-label">
                            <span>Bootstrap</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" data-appear-progress-animation="95%" data-appear-animation-delay="700">
                                <span class="progress-bar-tooltip">95%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="v-bg-stylish padding-60">

        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-3">

                            <div class="team-member img-circle style-1 pl-2 pr-2">
                                <div class="member-photo">
                                    <img class="img-responsive" src="Content/img/team/t1.png">
                                    <div class="member-social">
                                        <div class="member-social-inner">
                                            <ul class="list-inline">
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <div class="member-position">
                                        <span>Web Developer</span>
                                    </div>
                                    <div class="member-name">
                                        <h3 class="name">William Richardson</h3>
                                    </div>
                                    <div class="member-desc">
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="team-member img-circle style-1 pl-2 pr-2">
                                <div class="member-photo">
                                    <img class="img-responsive" src="Content/img/team/t5.png">
                                    <div class="member-social">
                                        <div class="member-social-inner">
                                            <ul class="list-inline">
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <div class="member-position">
                                        <span>Designer</span>
                                    </div>
                                    <div class="member-name">
                                        <h3 class="name">John Brown</h3>
                                    </div>

                                    <div class="member-desc">
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="team-member img-circle style-1 pl-2 pr-2">
                                <div class="member-photo">
                                    <img class="img-responsive" src="Content/img/team/t3.png">
                                    <div class="member-social">
                                        <div class="member-social-inner">
                                            <ul class="list-inline">
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <div class="member-position">
                                        <span>Marketing</span>
                                    </div>
                                    <div class="member-name">
                                        <h3 class="name">Michael Feldstein</h3>
                                    </div>

                                    <div class="member-desc">
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="team-member img-circle style-1 pl-2 pr-2">
                                <div class="member-photo">
                                    <img class="img-responsive" src="Content/img/team/t4.png">
                                    <div class="member-social">
                                        <div class="member-social-inner">
                                            <ul class="list-inline">
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" class="tooltips" data-placement="top" rel="tooltip" data-original-title="Google+"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <div class="member-position">
                                        <span>Web Developer</span>
                                    </div>
                                    <div class="member-name">
                                        <h3 class="name">Daniel McJames</h3>
                                    </div>
                                    <div class="member-desc">
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipiscing elit, sed diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="v-call-to-action v-bg-stylish v-bg-stylish-v10">

        <div class="v-call-to-action-wrap clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-1">
                        <div class="v-call-to-action-inner">
                            <h1>Vertex is everything you need to create a website!</h1>
                        </div>
                    </div>
                    <div class="col-md-3 pull-right">
                        <a class="btn v-btn standard white standard mt-1" href="#" target="_self">
                            <span class="text"><i class="fa fa-cloud-download"></i> Buy Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>