<!--Footer-Wrap-->
<div class="footer-wrap">
    <div class="copyright">
        <div class="container">
            <p>© Copyright 2019 by 3WEB. All Rights Reserved.</p>

            <div class="clearfix pull-right">
                <a href="#" class="social-icon si-borderless si-facebook mb-0" title="Facebook">
                    <i class="si-icon-facebook"></i>
                    <i class="si-icon-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--End Footer-Wrap-->