@{
    ViewBag.Title = "Serviços";
}



<div class="v-page-wrap no-top-spacing no-bottom-spacing">

    <section id="criando-site">
        <div class="container">
            <div class="row">
                <div class="clearfix pl-4 pt-1">
                    <h3 class="fs-42 mb-5">
                        Site Personalizado
                    </h3>
                    <p class="fs-18 fw-300">
                        O site personalizado tem o layout único, feito sob medida para você.
                    </p>
                    <p>
                        Ele vai mais do que atender suas necessidades: além de ser único e exclusivo, conta com funcionalidades que se encaixam perfeitamente no seu dia a dia, economizando o seu tempo para que você possa se dedicar mais ao seu negócio.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="clearfix pl-4 pt-1">
                    <h3 class="fs-42 mb-5">
                        Por que escolher o site personalizado?
                    </h3>

                    <div class="col-sm-6">
                        <ul class="v-list">
                            <li><i class="fa fa-check-circle"></i><span>Consultoria completa para criar seu site</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Funcionalidades personalizadas do jeito que você sonhou</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Layout exclusivo, só você vai ter</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Designer à disposição durante o processo de criação</span></li>
                        </ul>
                    </div>

                    <div class="col-sm-6">
                        <ul class="v-list">
                            <li><i class="fa fa-check-circle"></i><span>O Layout é moderno e responsivo, o que permite uma excelente visualização no computador e em todos os dispositivos móveis</span></li>
                            <li><i class="fa fa-check-circle"></i><span>100% de satisfação com o layout</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Relatórios completos e fáceis de entender</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Sua empresa aberta 24h por dia no ambiente virtual</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="clearfix pl-4 pt-1">
                    <h3 class="fs-42 mb-5">
                        Faça negócios com quem acredita no seu sonho
                    </h3>

                    <p class="fs-18 fw-300">
                        Escolha uma empresa que acredite no seu sonho. Surpreenda-se!
                    </p>
                    <p>
                        Mais do que um site, mais que uma oportunidade: você terá pessoas que ajudarão a sua empresa a crescer.<br>
                        Acredite, isso é muito importante para a gente.
                    </p>
                </div>
            </div>
        </div>

        <div class="v-bg-stylish v-bg-stylish-v4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="clearfix pr-4 pt-2">
                            <h3 class="fs-42 mb-5">
                                Permita que seus clientes se apaixonem por você
                            </h3>
                            <p class="fs-18 fw-300">
                                A visibilidade que você quer, aliada à exclusividade, te garante mais do que clientes: quando tudo é feito pensado neles, você ganha Brandlovers, os amantes da sua marca! Pronto para conquistar mais?
                                <br><br>
                                A 3WEB Soluções está aqui para ajudá-lo nessa caminhada. Converse com um de nossos especialistas e surpreenda seus clientes.
                            </p>

                            <ul class="v-list">
                                <li><i class="fa fa-bar-chart"></i><spam> Nós nos preocupamos com o seu resultado</spam></li>
                                <li><i class="fa fa-user-o"></i><spam> Você conversa com pessoas que entendem o que você precisa</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> O suporte é individualizado e personalizado</spam></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="w-100" src="/Content/img/mix/contentm.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="email">
        <div class="v-bg-stylish">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <h3 class="fs-42 mb-3">
                            Email personalizado no seu próprio domínio
                        </h3>
                        <p class="fs-18 fw-300 mb-9">
                            Nosso confiável serviço de hospedagem permite que você<br>
                            crie vários endereços de email com todas as funcionalidades, conforme sua necessidade
                        </p>
                    </div>
                </div>
                <div class="row pl-6 pr-6 mb-6">
                    <div class="col-md-6">

                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="900">
                            <div class="feature-box-icon icn-holder p-30">
                                <i class="fa fa-envelope-open-o v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>E-mail Profissional</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        E-mail no seu próprio domínio
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1200">
                            <div class="feature-box-icon icn-holder p-30">
                                <i class="fa fa-mobile-phone v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>Portátil</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Utilize o seu e-mail personalizado nos seus dispositivos móveis
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-8">

                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="900">
                            <div class="feature-box-icon icn-holder p-30">
                                <i class="fa fa-shield v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>Proteção contra Spam e Vírus</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Filtros avançados mantêm afastados os e-mails não solicitados
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-8">
                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1200">
                            <div class="feature-box-icon icn-holder p-30">
                                <i class="fa fa-wechat v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>Apoio 24/7</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Tem dúvidas? Contacte-nos em qualquer ocasião!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="sistema">
        <div class="v-bg-stylish v-bg-stylish-v5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="clearfix pr-4">
                            <h3 class="fs-42 mb-4">
                                Sistemas <br /> sob demanda
                            </h3>
                            <p class="v-lead">
                                Com o sistema web personalizado, tudo o que você precisa para ter excelente gestão poderá ser desenvolvido.
                                Acesse sempre que precisar, seja no local de trabalho ou home-office.
                                Você poderá gerenciar o seu negócio de qualquer lugar, desde que tenha internet disponível.
                            </p>


                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="v-list">
                            <li><i class="fa fa-check-circle"></i><span>Personalize seu sistema de acordo com suas necessidades</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Controle todas as informações em tempo real.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Reduza o tempo e energia gastos em tarefas cotidianas.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Tome decisões rápidas e assertivas.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Foque em atividades que garantam retorno.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Reduza os custos operacionais.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Reduza o índice de retrabalho por falhas humanas.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Foque em atividades que garantam retorno.</span></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix pl-1 pt-1">
                    <h3 class="fs-42 mb-5">
                        Seu Sistema!
                    </h3>
                    <p class="fs-18 fw-300">
                        Monte do seu jeito: priorize as áreas mais urgentes, acompanhe a evolução e o crescimento da empresa e implemente novas tecnologias aos poucos.
                    </p>
                    <p>
                        Ele vai mais do que atender suas necessidades: além de ser único e exclusivo, conta com funcionalidades que se encaixam perfeitamente no seu dia a dia, economizando o seu tempo para que você possa se dedicar mais ao seu negócio.
                    </p>

                    <div class="col-sm-6">
                        <ul class="v-list">
                            <li><i class="fa fa-check-circle"></i><span>Centralize as informações</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Automatize os processos manuais.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Relatórios em tempo real a qualquer hora.</span></li>
                            <li><i class="fa fa-check-circle"></i><span>Sistema exclusivo para a sua empresa.</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="ecommerce">
        <div class="v-bg-stylish v-bg-stylish-v4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="w-100" src="/Content/img/mix/contentm.png" />
                    </div>
                    <div class="col-md-6">
                        <div class="clearfix pr-4 pt-2">
                            <h3 class="fs-42 mb-5">
                                Aumente o potencial de vendas da sua empresa
                            </h3>
                            <p class="fs-18 fw-300">
                                O mercado do e-commerce no Brasil só cresce: o número de pessoas comprando na internet aumentou 12% no ano de 2017, em relação ao ano anterior. Essa é a sua grande oportunidade para vender mais.
                                <br>
                                Aproveite!
                            </p>

                            <ul class="v-list">
                                <li><i class="fa fa-bar-chart"></i><spam> Layouts simples, funcionais e responsivos (tablets e smartphones)</spam></li>
                                <li><i class="fa fa-user-o"></i><spam> Cálculo de frete automatizado</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> As principais formas de pagamento integradas</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Relatório de vendas descomplicado</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Sua loja virtual aberta 24h por dia no ambiente virtual</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Sem limite regional para atuação</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Controle de envio de mercadorias</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Você mesmo faz toda a gestão, mesmo sem ter conhecimento técnico</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Suporte técnico ilimitado para te ajudar na sua gestão</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Estatísticas completas de acesso</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Mais de 10 opções de frete</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Alto nível de segurança e performance</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Relatório completo de vendas</spam></li>
                                <li><i class="fa fa-hand-o-right"></i><spam> Controle de envio de produtos</spam></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row center">
                        <div class="col-md-12">
                            <h3 class="fs-42 mb-3">
                                Por que criar uma Loja Virtual?
                            </h3>
                            <p class="fs-18 fw-300 mb-8">
                                Não existem fronteiras para quem tem uma loja virtual. Sua empresa com oportunidades de gerar vendas para o mundo inteiro. Que tal potencializar suas vendas criando um e-commerce com a 3WEB Soluções?
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="smart">
        <div class="v-bg-stylish">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <h3 class="fs-42 mb-3">
                            Smart Chefe
                        </h3>
                        <p class="fs-18 fw-300 mb-8">
                            Revolucione seu estabelecimento com o menor custo do mercado.

                        </p>
                    </div>
                </div>
                <div class="row pl-6 pr-6 mb-5">
                    <div class="col-md-4">

                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-responsive" src="/Content/img/smart_chefe/1.png">
                            </div>
                            <div class="member-info">
                                <div class="member-name">
                                    <h3 class="name">Acesse de qualquer lugar</h3>
                                </div>
                                <div class="member-position">
                                    <span>Com a nossa interface web você não precisa mais ficar preso ao seu escritório. Acesse o sistema de qualquer lugar e saiba tudo o que acontece com o seu estabelecimento.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-responsive" src="/Content/img/smart_chefe/2.png">
                            </div>
                            <div class="member-info">
                                <div class="member-name">
                                    <h3 class="name">Pedidos integrados</h3>
                                </div>
                                <div class="member-position">
                                    <span>Chega de papel! Seus garçons podem usar nosso aplicativo nativo para fazer os pedidos nas mesas.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-responsive" src="/Content/img/smart_chefe/3.png">
                            </div>
                            <div class="member-info">
                                <div class="member-name">
                                    <h3 class="name">Não se preocupe com o servidor</h3>
                                </div>
                                <div class="member-position">
                                    <span>Nosso sistema fica hospedado no maior datacenter do mundo. Você não vai precisar reservar uma máquina apenas para isso e nem ter medo. Suas informações estão 100% seguras!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pl-6 pr-6">
                    <div class="col-md-4">
                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-responsive" src="/Content/img/smart_chefe/4.png">
                            </div>
                            <div class="member-info">
                                <div class="member-name">
                                    <h3 class="name">Mesa ou Comanda</h3>
                                </div>
                                <div class="member-position">
                                    <span>Não perca mais nenhum pedido. Saiba tudo o que acontece no seu estabelecimento.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-responsive" src="/Content/img/smart_chefe/5.png">
                            </div>
                            <div class="member-info">
                                <div class="member-name">
                                    <h3 class="name">Impressoras</h3>
                                </div>
                                <div class="member-position">
                                    <span>Imprima os pedidos na hora na cozinha e/ou no balcão com impressoras sem fio.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="team-member text-center">
                            <div class="member-photo">
                                <img class="img-responsive" src="/Content/img/smart_chefe/6.png">
                            </div>
                            <div class="member-info">
                                <div class="member-name">
                                    <h3 class="name">Aplicativos</h3>
                                </div>
                                <div class="member-position">
                                    <span>Seus garçons podem tirar o pedido de qualquer lugar como nosso app para android.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="mobile">
        <div class="v-bg-stylish v-bg-stylish-v4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive center-block v-animation" data-animation="fade-from-left" data-delay="200" src="/Content/img/mix/phones1.png">
                    </div>

                    <div class="col-md-6 mt-6">

                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="900">
                            <div class="feature-box-icon icn-holder p-25">
                                <i class="icon-hand-touch-4 v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>No bolso do seu cliente</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Esteja o tempo todo ao lado do seu cliente, envie notificações e promoções sempre que precisar!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-4 mb-4" />

                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1200">
                            <div class="feature-box-icon icn-holder p-25">
                                <i class="icon-board v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>Seu Sistema</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Além de oferecer o sistema em Web tambem criamos o seu APP conforme sua necessidade. Seja para um sistema, aplicação ou laja. Entre em contato, descubra!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-4 mb-4" />

                        <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1200">
                            <div class="feature-box-icon icn-holder p-25">
                                <i class="icon-setting-gear v-icon"></i>
                            </div>
                            <div class="feature-box-text">
                                <h3>Se diferencia dos concorrentes</h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Destaque-se no mercado e tenha sucesso ao atrair os clientes ideais.
                                        <br>
                                        Ao diferenciar a sua empresa no mercado, você não só ganha competitividade, como também aumenta as chances de ser lembrada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="v-parallax pr-8 pl-8 overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url(/Content/img/mix/about1.jpg);">
        <div class="container">

            <div class="row center v-content-wrapper">

                <div class="col-sm-6 left">
                    <h3 class="fs-42 mb-3 text-white">
                        Gestão de Mídias Sociais
                    </h3>
                    <p class="fs-18 fw-300 mb-8 text-white">
                        Definitivamente o Brasil se rendeu às mídias sociais. Redes sociais, smartphones e acesso a internet já fazem parte da realidade de grande parte dos Brasileiros. Sendo assim, estar presente nas Redes Sociais não é mais opção ou diferencial, é praticamente uma obrigação de toda empresa que almeja bons resultados e visibilidade.
                        <br><br>
                        Não é apenas estar nas mídias sociais, é fazer a diferença. Entreter, promover, divulgar, lançar, qualificar, ou seja qual for o seu objetivo, o fato é que a gestão de mídias precisa estar na sua estratégia. No caso do Facebook, estar bem representado na Rede é um excelente meio de aproximar as empresas do seu público.
                    </p>
                </div>

                <div class="col-sm-6 right">
                    <h3 class="fs-42 mb-3 text-white">
                        Facebook e Instagram ADS
                    </h3>
                    <p class="fs-18 fw-300 mb-8 text-white">
                        As mídias sociais têm ocupado um grande espaço na vida da população nunca visto antes. Na palma das mãos ou alcance dos nossos olhos. star presente de maneira profissional e eficiente nas redes sociais, se tornou não mais uma opção, e sim uma necessidade das empresas que visam grandes conquistas e reconhecimento.
                        <br><br>
                        Nesse contexto o Facebook Ads e Instagram Ads é a ferramenta ideal para colocar a sua empresa na mira dos usuários certos, no local certo, sugerindo suas postagens, sua página e ofertas para a audiência exata que você procura.
                    </p>
                </div>

            </div>

            <div class="row pl-6 pr-6 mb-6">
                <div class="col-md-6">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="900">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-line-chart v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Mais engajamento</font></h3>
                                <div class="feature-box2-text-inner">
                                    <p>
                                        Mais pessoas se comunicando com sua marca, comentando e interagindo.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="900">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-facebook-official v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Facebook</font></h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Engaje mais na maior rede social do mundo, com mais de 2 bilhões de pessoas conectados ao facebook.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-8">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1200">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-instagram v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Instagram</font></h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Aumente sua presença na 7º maior rede social do mundo, mais de 700 milhoes de usuarios no mundo.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-8">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1200">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-user-plus v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Mais Contatos</font></h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Faça mais contatos através das mídias sociais e conquiste novos clientes.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-8">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1500">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-smile-o v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Sua Fan Page mais Bonita</font></h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Criamos capas, avatares e posts com um visual agradável e chamativo.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-8">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1500">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-users v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Público Alvo</font></h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Atinja o público que já esta pesquisando serviços ou produtos relacionado ao seu negócio.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-8">
                    <div class="feature-box left-icon" data-aos="fade-up" data-aos-delay="1500">
                        <div class="feature-box-icon icn-holder p-30">
                            <i class="fa fa-bar-chart-o  v-icon"></i>
                        </div>
                        <div class="feature-box-text">
                            <font color="white">
                                <h3><font color="white">Aumento de Trafégo</font></h3>
                                <div class="feature-box-text-inner">
                                    <p>
                                        Aumente consideravelmente os acessos em seu site de forma rápida.
                                    </p>
                                </div>
                            </font>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>